<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <base href="<%= htmlWebpackPlugin.options.base %>">
    <title>Reconstructions</title>
  </head>
  <body layout="column" ng-controller="LayoutController as vm" ng-cloak>
    <md-toolbar class="md-toolbar-tools md-whiteframe-2dp">
      <div flex layout-align="center center" layout="row">
        <a ui-sref="reconstructions.new">Reconstructions</a>
      </div>
    </md-toolbar>
    <md-content id="view-container" flex layout-padding ui-view></md-content>
  </body>
</html>
