<div layout-gt-md="row">
  <div>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <h3 class="md-headline">Cube state</h3>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <cube-drawing moves="vm.scramble + ' ' + vm.solution"></cube-drawing>
      </md-card-content>
    </md-card>
  </div>
  <div flex>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <h3 class="md-headline">Reconstruction</h3>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <form>
          <md-input-container class="md-block">
            <label for="scramble">Scramble</label>
            <input type="text" name="scramble" ng-model="vm.scramble">
          </md-input-container>
          <md-input-container class="md-block">
            <label for="solution">Solution</label>
            <textarea name="solution" ng-model="vm.solution" rows="4"></textarea>
          </md-input-container>
          <md-checkbox class="md-primary" ng-model="vm.activeSupport">Use intelligent formatting</md-checkbox>
        </form>
        <md-button class="md-raised md-primary"
                   ui-sref="reconstructions.show(vm.showParams)"
                   ng-disabled="!vm.isSolved || !vm.scramble || !vm.solution">
          Done
        </md-button>
      </md-card-content>
    </md-card>
  </div>
</div>
