.side {
  width: 108px;
  height: 108px;
  margin: 4px;
}

.sticker {
  margin: 2px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;

  &.up { background-color: white; }
  &.down { background-color: #fff30f; }
  &.right { background-color: #fc1414; }
  &.left { background-color: #ff5a07; }
  &.front { background-color: #6cff16; }
  &.back { background-color: #0c4dff; }
}
