<div layout-gt-md="row">
  <div flex>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <h3 class="md-headline">Reconstruction</h3>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p><span>Scramble: </span><span>{{ vm.scramble }}</span></p>
        <md-divider></md-divider>
        <p class="step" ng-repeat="step in vm.steps">
          <span class="moves">{{ step.moves.join(' ') }}</span>
          <span class="name"> // {{ step.name }}</span>
        </p>
        <md-divider></md-divider>
        <div class="actions">
          <md-button class="md-icon-button" ng-href="{{ vm.animationUrl }}" target="_blank">
            <md-tooltip md-direction="top">See animation</md-tooltip>
            <md-icon>movie</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="vm.copyUrl()" target="_blank">
            <md-tooltip md-direction="top">Copy URL</md-tooltip>
            <md-icon>link</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="vm.copySolution()" target="_blank">
            <md-tooltip md-direction="top">Copy solution</md-tooltip>
            <md-icon>content_copy</md-icon>
          </md-button>
        </div>
      </md-card-content>
    </md-card>
  </div>
  <div flex>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <h3 class="md-headline">Statistics</h3>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-table-container>
          <table md-table>
            <thead md-head>
              <tr md-row>
                <th md-column>Step</th>
                <th md-column ng-repeat="metric in vm.metrics">{{ metric | uppercase }}</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="step in vm.steps" ng-hide="step.name === 'inspection'">
                <td md-cell>{{ step.name }}</td>
                <td md-cell ng-repeat="metric in vm.metrics">{{ step.movesCount[metric] }}</td>
              </tr>
              <tr md-row class="move-count-summary">
                <td md-cell>Total</td>
                <td md-cell ng-repeat="metric in vm.metrics">{{ vm.totalMoveCount[metric] }}</td>
              </tr>
            </body>
          </table>
        </md-table-container>
      </md-card-content>
    </md-card>
  </div>
</div>
